
@font-face {
    font-family: "Karrik";
    src: url("font/Web/TFF/Karrik-Regular.ttf") format("tff");
    src: url("font/Web/WOFF/Karrik-Regular.woff") format("woff"),
    }






html{
    overflow: hidden;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    font-family: "Karrik";
    font-style: normal;
    
    
}
html, body {
    overflow-x: auto;  /* Ensures horizontal scrolling is enabled */
    scroll-behavior: smooth; /* Enables smooth scrolling */
    white-space: nowrap; /* Prevents unwanted line breaks */
}


p{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
    cursor: none;
  
}

a{
 text-decoration: none;
 padding:0;
 margin:0;
 color:white;
}

b{
    font-family: "Karrik";
    font-size:larger;

}
b:hover{
    font-style:italic;
}



.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: 40px;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Nicht anklickbar */
    z-index: 9999;
    color:Black;
}




#totalcontainer{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y:hidden;
    height: 100dvh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


}

#totalcontainer:-webkit-scrollbar {
    display: none;
  }

.fullpager{
    min-width: fit-content;
    height: 100%;
}



#footer{
    position: absolute;
    bottom:1dvh;
    width: 95dvw;
    margin-left: 5dvh;
    display: flex;
    mix-blend-mode: difference; 
    z-index: 3;
    justify-content: space-between;
    transition: 0.2s;


}

#links{
    padding-right:5px;
    width: 150px;
    text-align: center;
    

}



#links a:hover{
    font-style: italic;
    font-weight: 100;
    cursor:none;
    

}

#links_start{
    padding-right:5px;
    width: 100px;


}

#links_start a:hover{
    font-style: italic;


}
#links_end{
    padding-right:5px;
    width: 100px;
    text-align: end;

}

#links_end a:hover{
    font-style: italic;


}








.header{
    
    width: 95dvw;
    height: 4dvh;
    margin-top: 1dvh;
    padding-left: 5vh;
    position:absolute;
    left: 0;
    font-size: large;
    display:flex;
    mix-blend-mode: difference; 
    z-index: 3;
    justify-content: space-between;

}
#cohab{
    font-family: "Karrik";
    font-size: 1.6em;
    color:white;

}
#donate{
    margin-right: 20px;
    height: 25px;
    width: 150px;
    border-radius: 30px;
    background-color:rgb(0, 0, 0) ;
    border: solid 1px white;
    color: white;
    text-align: center;
    padding-top:5px;
    transition:0.5s;
}

#donate:hover{
    transform:scale(1.1)

}

/*beginning of individual pages */





#startingpage{
    min-width:100dvw;
    margin-top:5dvh;
    border-left: solid 3px rgb(0, 0, 0) ;
    border-bottom: solid 3px rgb(0, 0, 0) ;
    border-top: solid 3px rgb(0, 0, 0) ;
    margin-left: 5dvh;
    height: 90dvh;

    background-image: url(content/1.jpeg);
    background-position:left;
    background-size:cover;
    background-repeat: no-repeat;

}

#startingpage_text{
    
    color:rgb(0, 0, 0) ;
    width: 600px;
    margin-left: 20px;
    padding-top:30px;
    padding-left: 10px;
    position:sticky;
    left:calc( 5dvh - 15px ); /* +10 px to offset the padding in the span of the text ( the white outline */
    z-index:3;
 

}

#startingpage_text span{
    padding: 5px;
    background-color: white;
    display:inline-block;
}

#index{
    aspect-ratio: 2773 / 1754;
    background-image: url(content/index\ 2.jpeg);
    background-position:top;
    background-size:contain;
    background-repeat: no-repeat;
    margin-top:5dvh;
    border-bottom: solid 3px rgb(0, 0, 0) ;
    border-top: solid 3px rgb(0, 0, 0) ;
    height: 90dvh;

 

}

#index_text{
    
    width: 600px;
    color:rgb(0, 0, 0) ;
    margin-left: 20px;
    padding-top: 75vh;
    padding-left: 10px;
    position:sticky;
    font-weight: 400;
    left:calc( 5dvh - 15px ); /* +10 px to offset the padding in the span of the text ( the white outline */
    z-index:3;


 

}

#index_text span{
    padding: 5px;
    background-color: white;
    display:inline-block;
    line-height: ;
}





#case_study{

    aspect-ratio: 4 / 3;
    background-image: url(content/7.jpeg);
    background-position:bottom;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top:5dvh;
    border-bottom: solid 3px rgb(0, 0, 0) ;
    border-top: solid 3px rgb(0, 0, 0) ;
    height: 90dvh;

}

#case_study_text{
    
    color:rgb(0, 0, 0) ;
    width: 700px;
    margin-left: 30px;
    padding-top: 30px;
    position:sticky;
    left:calc( 5dvh - 15px ); /* +10 px to offset the padding in the span of the text ( the white outline */


}

#case_study_text span{
    background-color: white;
    display:inline-block;
    padding: 5px;
}



#big_drawing{

    aspect-ratio: 9917 / 3508;
    background-image: url(content/full.jpeg);
    background-position:bottom;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top:5dvh;
    height:90dvh;
    display:inline-block;
    border-top: 3px solid black;
    border-bottom: 3px  solid black;

}

#big_drawing_text{
    
    color:rgb(0, 0, 0) ;
    width: 400px;
    margin-left: 30px;
    padding-top: 70dvh;
    position:sticky;
    font-weight: 400;
    left:5dvh;
    z-index:3;

}

#big_drawing_text span{
    background-color: white;
    display: inline-block;
    padding:5px;
}


#design_guide{

    aspect-ratio: 4 / 3;
    background-image: url(content/12.jpeg);
    background-position:bottom;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
    margin-top:5dvh;
    border-bottom: solid 3px rgb(0, 0, 0) ;
    border-top: solid 3px rgb(0, 0, 0) ;
    height: 90dvh;
 

}

#design_guide_text{
    
    color:rgb(0, 0, 0) ;
    width: 500px;
    margin-left: 30px;
    padding-top: 30px;
    position:sticky;
    font-weight: 400;
    left:5dvh;
    z-index:3;
 

}

#design_guide_text span{
    background-color: white;
    display:inline-block;
    padding:5px;
}

#six{
    background-color: rgb(0, 0, 0);
}

#contact{
  
    min-width: 100vw;
    margin-top:5dvh;
    margin-right: 5dvh;
    border-bottom: solid 3px rgb(241, 241, 234);
    border-top: solid 3px rgb(241, 241, 234);
    border-right: solid 3px  rgb(241, 241, 234);
    height: 90dvh;

}

#contact_text{
    
    color:white;
    width: 500px;
    margin-left: 20px;
    padding-top: 50dvh;
    position:sticky;
    font-weight: 400;
    left:80dvh;


    z-index:3;


 

}


#contact_text span{
    padding: 5px;
    display:inline-block;
}

#mail:hover{
    font-style:italic;
    
}

#impressum_container {
    width: 100dvw;
    height: 100dvh;
    padding-left:5dvh;
    background-color: black;
    overflow: scroll;
}
#impressum{
    color:white;
    width: 80vw;
}

#impressum p{
    width:80vw;
    background-color: orange;
}


@media (max-width:768px){

    #links{
        display:none;
        
    }
    #links_start{
        display:none;
        
    }

    #links_end{
        display:none;
    }

    #startingpage{
        width:300vw;
        margin-left:5dvw;

    }
    .header{
        padding-left:5dvw;
        width: 80vw;
    }
    #cohab{
        font-size:1.4rem;
    }

    #donate{
       display:none;
    }



    #startingpage_text{
        width:100vw;
        font-size:0.7rem;
    }

    #index{
        width: 200vw;
    }
    #index_text{
        width:100vw;
        font-size:0.7rem;
    }

    #case_study_text{
        width:100vw;
        font-size:0.7rem;
    }
    #big_drawing_text{
        width:100vw;
        font-size:0.7rem;
    }
    #design_guide_text{
        width:100vw;
        font-size:0.7rem;
    }
    #contact{
        width: 100dvw;
    }
    #contact_text{
        width:60vw;
        font-size:0.7rem;

    }

    


}
